*changes/
*node_modules/
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
dist/
build/
*.egg-info/
*.egg
*UNKNOWN.egg-info/
*.pyc
*.pyo
*__pycache__/
node_modules/
dist/
cache/
Frontend/.vite/
.env
venv/
.venv/