fastapi
uvicorn
pydantic
python-dotenv
python-multipart
requests>=2.32.5
PyMuPDF
pytesseract
Pillow
openai-whisper
opencv-python
ffmpeg-python
img2table
google-genai
paddleocr
transformers
torch
chardet<6
