APP_NAME="RAG-APP"
APP_VERSION="0.1"
FILE_ALLOWED_EXTENSIONS=["txt","pdf", "docx"]
FILE_MAX_SIZE=10 #in MB
FILE_CHUNK_SIZE=512000 #in bytes

# ====================== Model Configurations ======================
# leaving empty line at the end of the file to avoid git from thinking a change has been happened in a line that wasnot modified 
GENERATION_BACKEND=LOCAL
EMBEDDING_BACKEND=LOCAL

GENERATION_MODEL_ID=models/mistral-7b-instruct-v0.1.Q4_K_M.gguf
EMBEDDING_MODEL_ID=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1
GENERATION_MODEL_ID=models/llama-2-7b-chat.Q4_K_M.gguf

# ====================== Vector DB Configurations ======================

VECTOR_DB_BACKEND = "QDRANT"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_METHOD = "cosine"